<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social App</title>
</head>
<body>

    <form action="/user/create_user" method="post">
        <input type="text" name="name" id="name" placeholder="Your name" required>
        <input type="email" name="email" id="email" placeholder="enter your email" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <Button type="submit">Create Account</Button>
    </form>
    
</body>
</html>