<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../commonCss.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Social App</title>
</head>
<body>
    <% for(let i of data){ %>
        <li class="userList">
            <h5>name : <%= i.name %></h5>
            <span>email : <%= i.email %></span>
            <a href="/user/deleteUser/?id=<%=i._id%>">
            <i class="fa-regular fa-trash-can trash"></i></a>
        </li>

    <%}%>
    <script src="https://kit.fontawesome.com/7d7d520dab.js" crossorigin="anonymous">
    
    </script>
</body>
</html>