<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="commonCss.css">
    <title>Social App</title>
</head>
<body style="background-color: midnightblue; color:whitesmoke;" >
    <H1 style="text-align: center;" >
        Welcome to Social
    </H1>

    <button >
        <a href="/user/createAccount">
            Create Account
        </a>
    </button>
    <script src="commonjs.js"></script>
</body>
</html>